/* src/components/PaginaCliente.css */
.pagina-cliente {
  text-align: center;
  padding: 20px;
}

.icones-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
  flex-wrap: wrap;
}

.icone-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: default;
  color: #657082;
}

.icone-item.ativo {
  cursor: pointer;
  color: #20D3e2;
}

.icone-item p {
  margin-top: 8px;
  font-weight: bold;
}
